/* 
  Copyright 2014 DeBuNe (capodieci@gmail.com)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License, version 2, as 
  published by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

 */
 #accountTransactionsGridCtrl {
     width: 100%;
 }

 #debune_chart_account_transactionTypes {
     height: 800px;
     width: 220px;
     font-size: small;
 }
 
 
 .selectbox-detail {
    display: inline-flex;
    width: 100%;
 }

 /* ng-grid */
.gridWidthWrapper {
    top: 0px;
    position: relative;
    margin-left: 20px;    
    width: 100%;
    overflow: hidden;
}
.ng_adminGrid {
    /* width: 100%;  --- 100% not sizing on load - using gridWidthWrapper class to obtain 100% */
    width: 600px;
    height: 800px;
    border: 1px solid rgb(212,212,212);
    font-size: xx-small;
}

.shortcodebox {
    background-color: rgb(249, 249, 249);
    padding: 15px;
    border: 1px solid;
    border-color: rgb(221, 221, 221);
    margin-top: 2px;
}


/* FIXME this is because, in chart admin page, there's always this annoying message with wordpress update notice in the middle of the page! */
#footer-upgrade {
    display: none !important;
}